:root {
    --mg-primary: #005BF0;
    --mg-primary-hover: rgba(0, 91, 240, 0.08);
    --mg-primary-btn-base: var(--mg-primary);
    --mg-primary-btn-hover: #0069d9;
    --mg-primary-btn-focus: #0069d9;
    --mg-primary-btn-active: #0062cc;
    --mg-border-color: #eeeeee;
}

wmgPlayerJSTest_ {
    display: block;
    font-family: Arial, sans-serif;
    color: #666;
    float: none;
    box-sizing: border-box;
    text-align: left;
    line-height: initial;
    box-shadow: initial;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
    min-height: 0px;
    min-width: 0px;
    font-size: 13px;
    word-wrap: break-word;
}

wmgPlayerJSTest_ b {
    font-weight: bold !important;
}

wmgPlayerJSTest_ a,
wmgPlayerJSTest_ a:hover,
wmgPlayerJSTest_ a:visited {
    color: #0078d4;
    text-decoration: underline;
    font-family: Arial, sans-serif;
    font-weight: normal;
    line-height: initial;
    font-size: inherit;
}

wmgPlayerJSTest_ font a {
    color: inherit !important;
}

wmgPlayerJSTest_ img,
wmgPlayerJSTest_ a img {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    display: block;
    box-sizing: border-box;
}

.mgPlayerJSTest_beacon-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    cursor: pointer;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    z-index: 2147483646;
}

.mgPlayerJSTest_beacon-icon img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon {
    position: absolute;
    border: 1px solid #005BF0 !important;
    background: #f8f8fb;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 5px;
    line-height: 18px;
    font-family: Arial, sans-serif !important;
    max-width: 200px;
    width: max-content;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
    display: none;
}

.mgPlayerJSTest_beacon-icon:hover .mgPlayerJSTest_tour-title-on-beacon {
    display: block;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-left {
    transform: translate(-100%, -50%);
    top: 50%;
    left: -10px;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-left:before {
    border-left: 8px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: '';
    top: 50%;
    right: -7px;
    z-index: 2;
    transform: translate(0, -50%);
    position: absolute;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-left:after {
    border-left: 8px solid #0078d4;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: '';
    right: -9px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-right {
    transform: translate(0px, -50%);
    top: 50%;
    left: calc(100% + 10px);
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-right:before {
    border-right: 8px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: '';
    left: -7px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    position: absolute;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-right:after {
    border-right: 8px solid #0078d4;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: '';
    left: -9px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-bottom {
    transform: translate(-50%, 0px);
    top: calc(100% + 10px);
    left: 50%;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-bottom:before {
    border-bottom: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    top: -7px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    position: absolute;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-bottom:after {
    border-bottom: 8px solid #0078d4;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    top: -9px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-top {
    top: -10px;
    transform: translate(-50%, -100%);
    left: 50%;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-top:before {
    border-top: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    position: absolute;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-top:after {
    border-top: 8px solid #0078d4;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-center {
    top: -10px;
    transform: translate(-50%, -100%);
    left: 50%;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-center:before {
    border-top: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    position: absolute;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-center:after {
    border-top: 8px solid #0078d4;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-custom {
    top: -10px;
    transform: translate(-50%, -100%);
    left: 50%;
}

@supports (-ms-ime-align: auto) {
    .mgPlayerJSTest_tour-title-on-beacon {
        min-width: 200px;
    }
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-custom:before {
    border-top: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    position: absolute;
}

.mgPlayerJSTest_beacon-icon .mgPlayerJSTest_tour-title-on-beacon-custom:after {
    border-top: 8px solid #0078d4;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

.mgPlayerJSTest_selector-blackout {
    background-color: lightgray;
    position: absolute;
    overflow: visible;
    z-index: 2147483644;
}

.mgPlayerJSTest_select-outline {
    pointer-events: none;
    background: #09c;
    position: absolute;
    z-index: 2147483647;
}

.mgPlayerJSTest_select-tool-outline {
    pointer-events: none;
    background: #09c;
    position: fixed;
    z-index: 2147483647;
}

.mgPlayerJSTest_element-details-wrapper{
    width: 220px;
    height: 80px;
    border: 1px solid #E6E6E6;
    display: block;
    position: relative;
    background: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mgPlayerJSTest_element-class-id{
    display: inline-block;
    word-break: break-word;
    width: 130px;
    margin: 0 5px 0 0;
    font-size: 13px;
    color: #1a1aa6;
    text-align: left;
    vertical-align: middle;
}

.mgPlayerJSTest_element-class-id span{
    font-size: 14px;
    color: #881180;
}

.mgPlayerJSTest_element-size{
    display: inline-block;
    width: 60px;
    font-size: 13px;
    color:#303942;
    text-align: left;
    vertical-align: middle;
} 

.mgPlayerJSTest_element-attributes{
    font-size: 13px;
    color:#303942;
    word-wrap: break-word;
}

.mgPlayerJSTest_element-attr-key {
    display: inline-block;
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70px;
    color:#303942;
}

.mgPlayerJSTest_element-attr-val {
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    color: #666666;
}

wmgPlayerJSTest_.smarttip-guidance-msg.top-left:after {
    border-top: 8px solid;
    border-top-color: inherit !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -9px;
    left: 10px;
    transform: translate(0, 0);
}

wmgPlayerJSTest_.smarttip-guidance-msg.top-left:before {
    border-top: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -8px;
    left: 10px;
    transform: translate(0, 0);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg.top-middle:after {
    border-top: 8px solid;
    border-top-color: inherit !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, 0);
}

wmgPlayerJSTest_.smarttip-guidance-msg.top-middle:before {
    border-top: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg.top-right:after {
    border-top: 8px solid;
    border-top-color: inherit !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -9px;
    right: 10px;
    transform: translate(0, 0);
}

wmgPlayerJSTest_.smarttip-guidance-msg.top-right:before {
    border-top: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -8px;
    right: 10px;
    transform: translate(0, 0);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg.left-top:after {
    transform: translate(0, 0px) !important;
    content: "";
    position: absolute;
    top: 10px;
    right: -9px !important;
    border-left: 8px solid;
    border-left-color: inherit !important;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

wmgPlayerJSTest_.smarttip-guidance-msg.left-top:before {
    transform: translate(0, 0px) !important;
    content: "";
    position: absolute;
    top: 10px;
    right: -8px !important;
    border-left: 8px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg.left-middle:after {
    transform: translate(0, -50%) !important;
    content: "";
    position: absolute;
    top: 50%;
    right: -9px !important;
    border-left: 8px solid;
    border-left-color: inherit !important;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

wmgPlayerJSTest_.smarttip-guidance-msg.left-middle:before {
    transform: translate(0, -50%) !important;
    content: "";
    position: absolute;
    top: 50%;
    right: -8px !important;
    border-left: 8px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg.left-bottom:after {
    transform: translate(0, 0px) !important;
    content: "";
    position: absolute;
    bottom: 10px;
    right: -9px !important;
    border-left: 8px solid;
    border-left-color: inherit !important;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

wmgPlayerJSTest_.smarttip-guidance-msg.left-bottom:before {
    transform: translate(0, 0px) !important;
    content: "";
    position: absolute;
    bottom: 10px;
    right: -8px !important;
    border-left: 8px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg.bottom-left:after {
    border-bottom: 8px solid;
    border-bottom-color: inherit !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    top: -9px;
    left: 10px;
    transform: translate(0, 0);
}

wmgPlayerJSTest_.smarttip-guidance-msg.bottom-left:before {
    border-bottom: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    top: -8px;
    left: 10px;
    transform: translate(0, 0);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg.bottom-middle:after {
    border-bottom: 8px solid;
    border-bottom-color: inherit !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translate(-50%, 0);
}

wmgPlayerJSTest_.smarttip-guidance-msg.bottom-middle:before {
    border-bottom: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg.bottom-right:after {
    border-bottom: 8px solid;
    border-bottom-color: inherit !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    top: -9px;
    right: 10px;
    transform: translate(0, 0);
}

wmgPlayerJSTest_.smarttip-guidance-msg.bottom-right:before {
    border-bottom: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    top: -8px;
    right: 10px;
    transform: translate(0, 0);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg.right-top:after {
    transform: translate(0, 0px) !important;
    content: "";
    position: absolute;
    top: 10px;
    left: -9px !important;
    border-right: 8px solid;
    border-right-color: inherit !important;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

wmgPlayerJSTest_.smarttip-guidance-msg.right-top:before {
    transform: translate(0, 0px) !important;
    content: "";
    position: absolute;
    top: 10px;
    left: -8px !important;
    border-right: 8px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg.right-middle:after {
    transform: translate(0, -50%) !important;
    content: "";
    position: absolute;
    top: 50%;
    left: -9px !important;
    border-right: 8px solid;
    border-right-color: inherit !important;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

wmgPlayerJSTest_.smarttip-guidance-msg.right-middle:before {
    transform: translate(0, -50%) !important;
    content: "";
    position: absolute;
    top: 50%;
    left: -8px !important;
    border-right: 8px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg.right-bottom:after {
    transform: translate(0, 0px) !important;
    content: "";
    position: absolute;
    bottom: 10px;
    left: -9px !important;
    border-right: 8px solid;
    border-right-color: inherit !important;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

wmgPlayerJSTest_.smarttip-guidance-msg.right-bottom:before {
    transform: translate(0, 0px) !important;
    content: "";
    position: absolute;
    bottom: 10px;
    left: -8px !important;
    border-right: 8px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    z-index: 2;
}



.mgPlayerJSTest_smarttip {
    position: absolute;
    z-index: 2147483642;
    border: 1px solid #005BF0 !important;
    background: #fff;
    font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 0px 8px;
    line-height: 26px;
    border-radius: 5px;

}

.mgPlayerJSTest_smarttip:before {
    border-top: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.mgPlayerJSTest_smarttip:after {
    border-top: 8px solid;
    border-top-color: inherit !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mgPlayerJSTest_smarttip-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2147483642;
    cursor: pointer;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

wmgPlayerJSTest_.mg-smarttip-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2147483642;
    cursor: pointer;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

wmgPlayerJSTest_.mg-smarttip-icon img {
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.mgPlayerJSTest_tooltip-embed-url{
    text-decoration: underline;
    color: rgb(0, 120, 212);
}

.mgPlayerJSTest_smarttip-icon img {
    width: 100%;
    margin: 0;
    padding: 0;
}

wmgPlayerJSTest_.smarttip-guidance-msg {
    position: absolute;
    z-index: 2147483642;
    border: 1px solid #005BF0 !important;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    transition: visibility 0.3s, opacity 0.3s;
    box-sizing: initial;
}

wmgPlayerJSTest_.smarttip-guidance-msg img {
    width: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

wmgPlayerJSTest_.smarttip-guidance-msg p {
    margin: 0px;
}

.mgPlayerJSTest_hover-smarttip-msg {
    max-height: 300px;
    width: max-content !important;
    max-width: 200px;
    opacity: 1 !important;
    visibility: visible !important;
    cursor: pointer;
}

.mgPlayerJSTest_hover-smarttip-msg-inner {
    width: 100%;
    height: 100%;
    max-height: 300px;
    max-width: 200px;
    overflow: auto;
    padding: 5px;
    color: inherit;
    line-height: 18px;
    word-wrap: break-word !important;
}

wmgPlayerJSTest_.smarttip-msg-inner {
    max-width: 500px;
    max-height: 500px;
    padding: 5px !important;
    font-size: 12px;
    line-height: initial !important;
    font-family: Arial, sans-serif !important;
    word-wrap: break-word !important;
    width: max-content !important;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: initial !important;
}

wmgPlayerJSTest_.smarttip-msg-inner ul,
wmgPlayerJSTest_.smarttip-msg-inner ol {
    white-space: normal !important;
    margin: 0px !important;
    padding: 0px !important;
}

wmgPlayerJSTest_.smarttip-msg-inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px !important;
    background-color: #F5F5F5 !important;
}

wmgPlayerJSTest_.smarttip-msg-inner::-webkit-scrollbar {
    width: 6px !important;
    background-color: #F5F5F5 !important;
}

wmgPlayerJSTest_.smarttip-msg-inner::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: #cccccc !important;
}

wmgPlayerJSTest_.smarttip-guidance-msg wmgPlayerJSTest_.mgPlayerJSTest_smarttip-popup-footer {
    height: 50px;
    padding: 0 15px;
}

wmgPlayerJSTest_.smarttip-guidance-msg wmgPlayerJSTest_.mgPlayerJSTest_smarttip-popup-footer .mgPlayerJSTest_custom-image {
    width: auto !important;
    max-width: 100px !important;
    max-height: 25px !important;
}

wmgPlayerJSTest_.mgPlayerJSTest_smarttip-valid {
    border: 1px solid #f00 !important;
    color: #f00 !important;
    max-width: 300px;
    word-wrap: break-word;
    transform: translate(-50%, calc(-100% - 10px));
}

.mgPlayerJSTest_smarttip-valid:after {
    border-top: 8px solid #f00;
}

.mgPlayerJSTest_smarttip-valid-bottom:after {
    border-bottom: 8px solid #f00 !important;
}

.mgPlayerJSTest_smarttip-valid-left:after {
    border-left: 8px solid #f00 !important;
}

.mgPlayerJSTest_smarttip-valid-right:after {
    border-right: 8px solid #f00 !important;
}

.mgPlayerJSTest_smarttip-valid-top:after {
    border-top: 8px solid #f00 !important;
}

@supports (-ms-ime-align: auto) {
    wmgPlayerJSTest_.smarttip-guidance-msg {
        min-width: 200px;
    }

    .mgPlayerJSTest_smarttip-valid {
        transform: translate(-50%, -120%);
        overflow: visible;
    }
}

/* For IE*/
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .mgPlayerJSTest_smarttip-valid {
        transform: translate(-50%, -120%);
        overflow: visible;
    }

    wmgPlayerJSTest_.smarttip-msg-inner {
        min-width: 200px;
    }

    wmgPlayerJSTest_.smarttip-guidance-msg-top,
    wmgPlayerJSTest_.smarttip-guidance-msg-custom {
        top: -10px !important;
        transform: translate(-50%, -100%) !important;
    }

    wmgPlayerJSTest_.smarttip-guidance-msg-bottom {
        bottom: -10px !important;
        transform: translate(-50%, 100%) !important;
    }

    wmgPlayerJSTest_.smarttip-guidance-msg-left {
        left: -15px;
        transform: translate(-100%, -50%) !important;
    }

    .mgPlayerJSTest_smarttip-valid-left {
        left: -10px;
        transform: translate(-100%, -50%) !important;
    }
}

wmgPlayerJSTest_.smarttip-guidance-msg::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px !important;
    background-color: #F5F5F5 !important;
}

wmgPlayerJSTest_.smarttip-guidance-msg::-webkit-scrollbar {
    width: 6px !important;
    background-color: #F5F5F5 !important;
}

wmgPlayerJSTest_.smarttip-guidance-msg::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: #cccccc !important;
}

.mgPlayerJSTest_smarttip-icon:hover wmgPlayerJSTest_.smarttip-guidance-msg {
    opacity: 1;
    visibility: visible;
}
wmgPlayerJSTest_.mg-smarttip-icon:hover wmgPlayerJSTest_.smarttip-guidance-msg {
    opacity: 1;
    visibility: visible;
}

wmgPlayerJSTest_.smarttip-guidance-msg-right {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(13px, -50%) !important;
    word-wrap: break-word !important;
    margin: 0px 0px 0px !important;
}

.mgPlayerJSTest_smarttip-valid-right {
    transform: translate(10px, -50%) !important;
}

wmgPlayerJSTest_.smarttip-guidance-msg-right:before {
    position: absolute;
    top: 50%;
    left: -7px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid #ffffff;
    content: '';
    transform: translate(0, -50%);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg-right:after {
    position: absolute;
    top: 50%;
    left: -9px;
    border-top: 6px solid transparent !important;
    border-bottom: 6px solid transparent;
    border-right: 8px solid;
    border-right-color: inherit !important;
    content: '';
    transform: translate(0, -50%);
}

wmgPlayerJSTest_.smarttip-guidance-msg-bottom {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, calc(100% + 10px)) !important;
    margin: -20px 0 0 0 !important;
    word-wrap: break-word !important;
    height: fit-content;
    height: -moz-fit-content;
}

wmgPlayerJSTest_.mgPlayerJSTest_smarttip-valid-bottom {
    transform: translate(-50%, 10px) !important;
    margin: 0px !important;
}

wmgPlayerJSTest_.smarttip-guidance-msg-bottom:before {
    position: absolute;
    top: -7px;
    left: 50%;
    border-left: 6px solid transparent;
    border-bottom: 8px solid #ffffff;
    border-right: 6px solid transparent;
    content: '';
    transform: translate(-50%, 0);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg-bottom:after {
    position: absolute;
    top: -9px;
    left: 50%;
    border-left: 6px solid transparent;
    border-bottom: 8px solid;
    border-bottom-color: inherit !important;
    border-right: 6px solid transparent;
    border-top: none !important;
    content: '';
    transform: translate(-50%, 0);
}

wmgPlayerJSTest_.smarttip-guidance-msg-left {
    position: absolute;
    left: : 0px;
    top: 50%;
    transform: translate(calc(-100% - 15px), -50%) !important;
    word-wrap: break-word !important;
    margin: 0px 0px 0px !important;
}

.mgPlayerJSTest_smarttip-valid-left {
    transform: translate(calc(-100% - 10px), -50%) !important;
    right: initial !important;
}

wmgPlayerJSTest_.smarttip-guidance-msg-left:before {
    position: absolute;
    top: 50%;
    right: -7px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #ffffff;
    content: '';
    transform: translate(0, -50%);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg-left:after {
    position: absolute;
    top: 50%;
    right: -9px;
    border-top: 6px solid transparent !important;
    border-bottom: 6px solid transparent;
    border-left: 8px solid;
    border-left-color: inherit !important;
    content: '';
    transform: translate(0, -50%);
}

wmgPlayerJSTest_.smarttip-guidance-msg-top,
wmgPlayerJSTest_.smarttip-guidance-msg-custom {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, calc(-100% - 10px)) !important;
    margin: 0 0 0 0 !important;
    word-wrap: break-word !important;

}

wmgPlayerJSTest_.smarttip-guidance-msg-top:before {
    position: absolute;
    bottom: -8px;
    left: 50%;
    border-left: 6px solid transparent;
    border-top: 8px solid #ffffff;
    border-right: 6px solid transparent;
    content: '';
    transform: translate(-50%, 0);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg-top:after {
    position: absolute;
    bottom: -9px;
    left: 50%;
    border-left: 6px solid transparent;
    border-top: 8px solid;
    border-top-color: inherit !important;
    border-right: 6px solid transparent;
    content: '';
    transform: translate(-50%, 0);
}

wmgPlayerJSTest_.smarttip-guidance-msg-custom:before {
    border-top: 8px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg-custom:after {
    border-top: 8px solid;
    border-top-color: inherit !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, 0);
}

wmgPlayerJSTest_.smarttip-guidance-msg-center {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(-13px, -50%) !important;
    word-wrap: break-word !important;
    margin: 0px 0px 0px !important;
}

.mgPlayerJSTest_smarttip-valid-left {
    transform: translate(calc(-100% - 10px), -50%) !important;
    right: initial !important;
}

wmgPlayerJSTest_.smarttip-guidance-msg-center:before {
    position: absolute;
    top: 50%;
    right: -7px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #ffffff;
    content: '';
    transform: translate(0, -50%);
    z-index: 2;
}

wmgPlayerJSTest_.smarttip-guidance-msg-center:after {
    position: absolute;
    top: 50%;
    right: -9px;
    border-top: 6px solid transparent !important;
    border-bottom: 6px solid transparent;
    border-left: 8px solid;
    border-left-color: inherit;
    content: '';
    transform: translate(0, -50%);
}

.gssSmarttip-form-submit {
    pointer-events: none;
    opacity: .5;
}

.mgPlayerJSTest_nowrap-div {
    white-space: nowrap !important;
    min-width: 0px !important;
}

.mgPlayerJSTest_hide {
    display: none !important;
}

.mgPlayerJSTest_duct-tape {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 99999;
}

.mgPlayerJSTest_duct-tape-invisible {
    opacity: 0;
    pointer-events: none !important;
}

.mgPlayerJSTest_duct-tape-invisible-preview {
    opacity: 0;
    pointer-events: none !important;
}

.mgPlayerJSTest_hidden {
    visibility: hidden !important;
}

.mgPlayerJSTest_fixed-position {
    position: fixed !important;
}

.mgPlayerJSTest_absolute-position {
    position: absolute !important;
}

wmgPlayerJSTest_.mg-absolute-position {
    position: absolute !important;
}

wmgPlayerJSTest_.mg-fixed-position {
    position: fixed !important;
}

.mgPlayerJSTest_relative {
    position: relative;
}

.mgPlayerJSTest_relative-position {
    position: relative !important;
}

.mgPlayerJSTest_scoreEl {
    box-shadow: #a0a0a0 2px 2px 5px 0px;
    background-color: white;
    display: block;
    position: relative;
    font-size: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mgPlayerJSTest_figcaption {
    text-align: center;
    color: red;
    width: 100%;
    position: absolute;
    left: 0;
    top: 32%;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.mgPlayerJSTest_scoreEl svg {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}

.mgPlayerJSTest_pie1 {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 15%;
    stroke-dasharray: 0, 0, 0, 100;
    stroke-dashoffset: 25;
}

.mgPlayerJSTest_pie1.mgPlayerJSTest_level-5 {
    stroke: var(--mg-primary-btn-hover);
}

.mgPlayerJSTest_pie1.mgPlayerJSTest_level-4 {
    stroke: #6bc9b8;
}

.mgPlayerJSTest_pie1.mgPlayerJSTest_level-3 {
    stroke: #F9AF6A;
}

.mgPlayerJSTest_pie1.mgPlayerJSTest_level-2 {
    stroke: #DE350B;
}

.mgPlayerJSTest_pie1.mgPlayerJSTest_level-1 {
    stroke: #B3463F;
}

.mgPlayerJSTest_pie1.mgPlayerJSTest_level-0 {
    stroke: #DE350B;
}

@-webkit-keyframes mgPlayerJSTest_pie0 {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 0, 100;
    }
}

@keyframes mgPlayerJSTest_pie0 {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 0, 100;
    }
}

@-webkit-keyframes mgPlayerJSTest_pie1 {
    0% {
        stroke-dasharray: 0, 100;
    }

    20%,
    100% {
        stroke-dasharray: 20, 80;
    }
}

@keyframes mgPlayerJSTest_pie1 {
    0% {
        stroke-dasharray: 0, 100;
    }

    20%,
    100% {
        stroke-dasharray: 20, 80;
    }
}

@-webkit-keyframes mgPlayerJSTest_pie2 {
    0% {
        stroke-dasharray: 0, 100;
    }

    40%,
    100% {
        stroke-dasharray: 40, 60;
    }
}

@keyframes mgPlayerJSTest_pie2 {
    0% {
        stroke-dasharray: 0, 100;
    }

    40%,
    100% {
        stroke-dasharray: 40, 60;
    }
}


@-webkit-keyframes mgPlayerJSTest_pie3 {
    0% {
        stroke-dasharray: 0, 100;
    }

    60%,
    100% {
        stroke-dasharray: 60, 40;
    }
}

@keyframes mgPlayerJSTest_pie3 {
    0% {
        stroke-dasharray: 0, 100;
    }

    60%,
    100% {
        stroke-dasharray: 60, 40;
    }
}


@-webkit-keyframes mgPlayerJSTest_pie4 {
    0% {
        stroke-dasharray: 0, 100;
    }

    80%,
    100% {
        stroke-dasharray: 80, 20;
    }
}

@keyframes mgPlayerJSTest_pie4 {
    0% {
        stroke-dasharray: 0, 100;
    }

    80%,
    100% {
        stroke-dasharray: 80, 20;
    }
}


@-webkit-keyframes mgPlayerJSTest_pie5 {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 100, 0;
    }
}

@keyframes mgPlayerJSTest_pie5 {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 100, 0;
    }
}